* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #001324;
  background: linear-gradient(90deg,rgba(0, 19, 36, 1) 0%, rgba(9, 51, 77, 1) 100%, rgba(0, 14, 23, 1) 100%);
  /* background-color: #000; */
  color: #fff;
}